/target
dbml-error.log

# Mac OS files
.DS_Store

# workspace files
*.code-workspace
.vscode/

# environment files
.env*

# CA certificates
*.crt

# nginx log files
nginx/logs/

# serena files
.serena/
